<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <!--Inicio de container del nav-bar-->
    <div class="nav-bar margin">
      <h1 class="logo">
        <a class="text-logo" href="./index.html">Llantas chidas</a>
      </h1>
      <!--Inicio de la nav-bar-->
      <div class="menu">
        <ul>
          <li>
            <a href="./view/catalogo.html">Catalogo</a>
          </li>
          <li>
            <a href="#">Ofertas</a>
          </li>
        </ul>
      </div>

      <!--Fin de la nav-bar-->
    </div>
    <!--Fin del nav-bar-->
    <div class="layout-row justify-flex">
      <div class="container-button">
        <a href="#">
          <input class="rectangle-button" type="button" value="Submit" />
        </a>
      </div>
      <div class="container-button">
        <a href="#">
          <input class="rectangle-button" type="button" value="Edit" />
        </a>
      </div>
      <div class="container-button">
        <a href="#">
          <input class="rectangle-button" type="button" value="Add" />
        </a>
      </div>
      <div class="container-button">
        <a href="#">
          <input class="rectangle-button" type="button" value="Eliminate" />
        </a>
      </div>
    </div>

    <div class="layout-column margin">
      <h1>Carros</h1>
      <div class="layout-row container-card">
        <div class="box layout-column margin-g">
          <img
            class="width-50"
            src="./assets/img/pexels-mike-244553.jpg"
            alt=""
          />
          <h2>llanta</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
            voluptates officiis placeat soluta fugit excepturi architecto
            laboriosam, sunt ab laborum veniam? Possimus nostrum officiis
            repellat
          </p>
        </div>
        <div class="box layout-column margin-g">
          <img
            class="width-50"
            src="./assets/img/pexels-mike-244553.jpg"
            alt=""
          />
          <h2>llanta</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
            voluptates officiis placeat soluta fugit excepturi architecto
            laboriosam, sunt ab laborum veniam? Possimus nostrum officiis
            repellat
          </p>
        </div>
        <div class="box layout-column margin-g">
          <img
            class="width-50"
            src="./assets/img/pexels-mike-244553.jpg"
            alt=""
          />
          <h2>llanta</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
            voluptates officiis placeat soluta fugit excepturi architecto
            laboriosam, sunt ab laborum veniam? Possimus nostrum officiis
            repellat
          </p>
        </div>
      </div>
    </div>

    <footer class="margin">
      <div class="footer-brand">
        <h1 class="logo text-logo">Llantas chidas</h1>

        <p class="text-big margin-top">
          Our goal is help the <br />
          world free from the <br />
          ongoing pandemic <br />
        </p>
        <p class="text-grey margin-top">&copy; 2021 Llantas. All rights</p>
      </div>

      <div class="footer-column">
        <div class="footer-row">
          <div class="footer-brand-terms">
            <h1 class="title-box">About</h1>
            <p class="text-box">About</p>
            <p class="text-box">Features</p>
          </div>

          <div class="footer-brand-terms">
            <h1 class="title-box">Company</h1>
            <p class="text-box">How We Work?</p>
            <p class="text-box">Capital</p>
            <p class="text-box">Security</p>
          </div>

          <div class="footer-brand-terms">
            <h1 class="title-box">Support</h1>
            <p class="text-box">FAQs</p>
            <p class="text-box">Support Center</p>
            <p class="text-box">Contact Us</p>
          </div>
        </div>
        <div class="terms">
          <p class="text-grey margin-right">Terms & Agreements</p>
          <p class="text-grey">Privacy Policy</p>
        </div>
      </div>
    </footer>
  </body>
</html>
