<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Document</title>
</head>
<body>

            <!--Inicio de container del nav-bar-->
            <div class="nav-bar margin">
                <h1 class="logo">
                  <a class="text-logo" href="./index.html">Llantas chidas</a>
                </h1>
                <!--Inicio de la nav-bar-->
                <div class="menu">
                    <ul>
                        <li>
                          <a href="./view/catalogo.html">Catalogo</a>
                        </li>
                        <li>
                          <a href="#">Ofertas</a>
                        </li>
                      </ul>
                </div>
                   
                       
                <!--Fin de la nav-bar-->
           
            </div>
            <!--Fin del nav-bar-->
            <div class="layout-row justify-flex">
                <div class="container-button">
                    <a href="#">
                      <input class="rectangle-button" type="button" value="Submit" />
                    </a>
                  </div>
                  <div class="container-button">
                    <a href="#">
                      <input class="rectangle-button" type="button" value="Edit" />
                    </a>
                  </div>
                  <div class="container-button">
                    <a href="#">
                      <input class="rectangle-button" type="button" value="Add" />
                    </a>
                  </div>
                  <div class="container-button">
                    <a href="#">
                      <input class="rectangle-button" type="button" value="Eliminate" />
                    </a>
                  </div>
            </div>
           
            <div class="layout-row">
                <div class=" rectangle-box layout-column" >
                    
                <!--Inicio de container de tarjeta con info-->
                <div class="box margin-g">
                    <div>
                        <img width="100" src="../assets/img/pexels-mike-244553.jpg" alt="">
                    </div>
                        <h2>Marca del llanta</h2>
                        <p>Descripción de llantas</p>
                 </div>
                 <!--Fin de container de tarjeta con info-->
                </div>
            </div>
          
          
</body>
</html>